.root {
  margin-bottom: 120px;
  max-width: var(--ifm-container-width);
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding: 0 var(--ifm-spacing-horizontal);
  font-size: 2rem;
  margin-bottom: 60px;
  text-align: center;
}

.scroller {
  overflow-x: auto;
}

.table {
  --ifm-spacing-vertical: 0;
  display: table;
  table-layout: fixed;
  min-width: 100%;
}

.table thead {
  border: none;
}

.table tr {
  border: none;
}

.table th,
.table td {
  border: none;
  text-align: unset;
  padding: 0;
}

.table th {
  white-space: nowrap;
  width: 25%;
}

.table tr th:first-child,
.table tr td:first-child {
  background-color: inherit;
  position: sticky;
  left: 0;
}

.table tr td:first-child .cell,
.table tr th:first-child .headCell {
  min-width: 200px;
}

.table [data-column-type='boolean'] {
  text-align: center;
}

.cell {
  font-size: 0.875rem;
  line-height: 1.2em;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1.5em;
  min-height: 5em;
}

.table [data-column-type='boolean'] .cell {
  align-items: center;
  justify-content: center;
}

.headCell {
  --ifm-heading-margin-top: 0;
  --ifm-heading-margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.2em;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  padding: 1.25em 1.5em;
  background-color: var(--ifm-color-primary-light);
}

@media screen and (max-width: 767px) {
  .table tr td:first-child .cell::after,
  .table tr th:first-child .headCell::after {
    content: '';
    display: block;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
  }
}
