/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --cai-color-background: #f8f6f4;
  --cai-color-on-background: #000000;
  --cai-color-background-dark: #e6e3e0;
  --cai-color-on-background-dark: #000000;
  --cai-color-disabled: #e3e3e3;
  --cai-color-on-disabled: #6e6e6e;
  --cai-color-surface: #ffffff;
  --cai-color-on-surface: #000000;
  --cai-color-primary: #5aa9fa;
  --cai-color-primary-light: #d8e7f5;
  --cai-color-secondary: #fade3b;
  --cai-color-secondary-light: #f8efbc;
  --cai-color-shadow: rgba(0, 0, 0, 0.15);

  --cai-font-family-acuminpro-regular: 'acumin-pro', sans-serif;
  --cai-font-family-acuminpro-bold: 'acumin-pro-bold', sans-serif;
  --cai-font-family-acuminprowide-black: 'acumin-pro-wide', sans-serif;
  --cai-font-family-adobeclean-bold: 'adobe-clean-bold', sans-serif;
  --cai-font-family-adobeclean-regular: 'adobe-clean', sans-serif;

  --ifm-color-primary: var(--cai-color-primary);
  --ifm-color-primary-dark: var(--cai-color-primary);
  --ifm-color-primary-darker: var(--cai-color-primary);
  --ifm-color-primary-darkest: var(--cai-color-primary);
  --ifm-color-primary-light: var(--cai-color-primary-light);
  --ifm-color-primary-lighter: var(--cai-color-primary-light);
  --ifm-color-primary-lightest: var(--cai-color-primary-light);
  --ifm-color-secondary: var(--cai-color-secondary);
  --ifm-color-secondary-dark: var(--cai-color-secondary);
  --ifm-color-secondary-darker: var(--cai-color-secondary);
  --ifm-color-secondary-darkest: var(--cai-color-secondary);
  --ifm-color-secondary-light: var(--cai-color-secondary-light);
  --ifm-color-secondary-lighter: var(--cai-color-secondary-light);
  --ifm-color-secondary-lightest: var(--cai-color-secondary-light);
  --ifm-code-font-size: 0.9rem;
  --ifm-navbar-height: 114px;
  --ifm-navbar-padding-vertical: 30px;
  --ifm-navbar-padding-horizontal: 20px;
  --ifm-navbar-shadow: 0px 0px 40px var(--cai-color-shadow);
  --ifm-navbar-background-color: var(--cai-color-background);
  --ifm-hero-background-color: transparent;
  --ifm-table-background: var(--cai-color-background);
  --ifm-table-stripe-background: var(--cai-color-background-dark);
  --ifm-footer-background-color: transparent;
  --ifm-container-width-xl: 1200px;
  --ifm-container-width: 1080px;
  --ifm-heading-font-family: var(--cai-font-family-acuminprowide-black);
  --ifm-heading-line-height: 1.1;
  --ifm-heading-color: var(--cai-color-on-background);
  --ifm-color-content: var(--cai-color-on-background);
  --ifm-link-color: var(--cai-color-on-background);
  --ifm-footer-padding-vertical: 80px;
  --ifm-menu-color: var(--cai-color-on-background);
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-background-hover: transparent;
  --ifm-menu-link-padding-vertical: 0.75em;
  --ifm-menu-link-padding-horizontal: 2rem;
  --ifm-alert-border-radius: 4px;
  --ifm-alert-border-width: 1px;
  --ifm-alert-border-left-width: 1px;
  --ifm-toc-padding-vertical: 0;
  --ifm-toc-link-color: var(--cai-color-on-background);
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--cai-color-background);
  font-family: var(--cai-font-family-acuminpro-regular);
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
}

.navbar {
  transition: box-shadow 250ms ease-out;
}

body:not(.is-scrolling) .navbar {
  --ifm-navbar-shadow: 0px 0px 0px var(--cai-color-shadow);
}

.navbar__logo {
  height: 54px;
}

.navbar__button {
  background-color: var(--ifm-color-secondary);
  padding: 0.625em 1.25em !important;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.25em;
  transition: background-color 100ms ease-out;
}

.navbar__button:hover,
.navbar__button:active,
.navbar__button:focus {
  background-color: var(--ifm-color-secondary-light);
  color: inherit;
}

.navbar__items .navbar__button:last-child {
  margin-right: 0;
}

.navbar-sidebar .navbar__button {
  background-color: transparent;
  padding: var(--ifm-menu-link-padding-vertical)
    var(--ifm-menu-link-padding-horizontal) !important;
  margin-left: unset;
  margin-right: unset;
}

.navbar-sidebar .navbar-sidebar__back {
  margin-left: -0.7rem;
  padding: 1.5rem 1.5rem;
}

.demo-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Docs */

.docs-wrapper .main-wrapper {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--ifm-container-width-xl);
  width: 100%;
}

.theme-doc-toc-desktop {
  height: 100%;
  max-height: calc(100vh - var(--ifm-navbar-height)) !important;
  top: var(--ifm-navbar-height) !important;
}

.theme-doc-toc-mobile {
  margin-top: 0 !important;
  margin-bottom: 1.75rem !important;
  border-radius: 0 !important;
  border-bottom: 2px solid var(--cai-color-background-dark);
}

.theme-doc-toc-mobile > button {
  padding: 1rem 0;
}

.theme-doc-toc-mobile > button + div {
  background-color: var(--cai-color-background-dark);
}

.table-of-contents {
  border: 0;
  padding: var(--ifm-menu-link-padding-vertical) 0;
}

.theme-doc-sidebar-container {
  border: 0 !important;
}

.theme-doc-toc-desktop,
.theme-doc-markdown,
.theme-doc-sidebar-container .menu {
  padding: 2rem 0.5rem;
}

.theme-doc-sidebar-container + main > .container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.theme-doc-breadcrumbs {
  display: none;
}

.theme-doc-sidebar-menu > .menu__list-item {
  font-weight: 700;
  font-family: var(--cai-font-family-acuminpro-bold);
}

.theme-doc-sidebar-menu > .menu__list-item > .menu__list {
  font-weight: 500;
  font-family: var(--cai-font-family-acuminpro-regular);
}

.theme-doc-sidebar-menu .menu__link,
.theme-doc-sidebar-menu .menu__list-item,
.theme-doc-sidebar-menu .menu__list {
  position: relative;
}

.theme-doc-sidebar-menu .menu__list-item .menu__list::before {
  content: '';
  display: block;
  position: absolute;
  top: var(--ifm-menu-link-padding-vertical);
  left: var(--ifm-menu-link-padding-horizontal);
  height: calc(
    100% - var(--ifm-menu-link-padding-vertical) -
      var(--ifm-menu-link-padding-vertical)
  );
  width: 2px;
  background: var(--cai-color-background-dark);
}

.theme-doc-sidebar-menu
  .menu__list-item
  .menu__list
  .menu__link--active::before {
  content: '';
  display: block;
  position: absolute;
  top: var(--ifm-menu-link-padding-vertical);
  left: 0;
  height: calc(
    100% - var(--ifm-menu-link-padding-vertical) -
      var(--ifm-menu-link-padding-vertical)
  );
  width: 2px;
  background: var(--ifm-color-primary);
}

.theme-doc-sidebar-menu .menu__link--sublist-caret::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.navbar-sidebar__brand {
  box-shadow: none;
}

@media (max-width: 996px) {
  .navbar__items {
    flex-flow: row-reverse;
    justify-content: space-between;
  }
}

@media (min-width: 997px) {
  .theme-doc-sidebar-container > div {
    /* top: 2rem !important; */
  }
}

/*  Admonitions */

.admonition-heading h5 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.25em;
}

.admonition-icon {
  margin-right: 0.9em;
}

.admonition-icon svg {
  width: 18px;
  height: 18px;
}

.alert--info,
.alert--secondary {
  --ifm-alert-background-color: var(--ifm-color-primary-light);
  --ifm-alert-background-color-highlight: var(--ifm-color-primary-light);
  --ifm-alert-border-color: var(--ifm-color-primary);
}

.alert--warning,
.alert--success {
  --ifm-alert-background-color: var(--ifm-color-secondary-light);
  --ifm-alert-background-color-highlight: var(--ifm-color-secondary-light);
  --ifm-alert-border-color: var(--ifm-color-secondary);
}
