.root {
  display: flex;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin-bottom: 200px;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 56px;
}

.featureIcon {
  height: 40px;
  width: 40px;
}

.featureInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.featureMedia {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.featureTitle {
  --ifm-heading-margin-top: 0;
  --ifm-heading-margin-bottom: 0;
  font-size: 2rem;
}

.featureDescription {
  font-size: 1.25rem;
}

.featureDescription p:last-child {
  --ifm-paragraph-margin-bottom: 0;
}

.featureActions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.featureCTA {
  padding: 0.86em 1.25em;
  border-radius: 2em;
  background-color: var(--ifm-color-secondary);
  color: inherit;
  text-decoration: none;
  line-height: 1.25em;
  font-weight: var(--ifm-font-weight-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  transition: background-color 100ms ease-out;
}

.featureCTA:hover {
  text-decoration: none;
  background-color: var(--ifm-color-secondary-light);
}

.featureCTADisabled,
.featureCTADisabled:hover,
.featureCTADisabled:active,
.featureCTADisabled:focus {
  background-color: var(--cai-color-disabled);
  color: var(--cai-color-on-disabled);
  pointer-events: none;
}

.featureContent {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}

@media screen and (max-width: 767px) {
  .feature {
    flex-flow: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 40px;
  }

  .featureInfo {
    width: 100%;
  }

  .featureMedia {
    width: 100%;
  }

  .featureDescription {
    font-size: 1rem;
  }
}
